.hyper-spin {
  animation: hyper-spin 1.2s infinite;
}

@keyframes hyper-spin {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

@keyframes ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes fade-out-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
}
@keyframes fade-out-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
}

.fade-in-bottom {
  -webkit-animation: fade-in-bottom 500ms cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: fade-in-bottom 500ms cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.fade-out-bottom {
  -webkit-animation: fade-out-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: fade-out-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation-name: spin;
  animation-duration: 700ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

// animation delays

.dl-1 {
  animation-delay: 0.1s;
}

.dl-2 {
  animation-delay: 0.2s;
}

.dl-3 {
  animation-delay: 0.3s;
}

.dl-4 {
  animation-delay: 0.4s;
}

.dl-5 {
  animation-delay: 0.5s;
}

.dl-6 {
  animation-delay: 0.6s;
}

.dl-7 {
  animation-delay: 0.7s;
}

.dl-8 {
  animation-delay: 0.8s;
}

.dl-9 {
  animation-delay: 0.9s;
}

.dl-10 {
  animation-delay: 1s;
}
