

#content-area{
  width: 100%;
  margin-left: 270px;
  background: linear-gradient(90deg,rgba(29, 11, 122, 0.91),rgba(17,24,126,.18)),url(../assets/map.png) !important;
  background-size: cover !important;
  margin-top: -1px !important;
  height: 101vh;
}