
$sidebar-width: 270px;

#content-area{
  width: calc(100%-$sidebar-width);
  margin-left: $sidebar-width;
  background: linear-gradient(90deg,rgba(29, 11, 122, 0.91),rgba(17,24,126,.18)),url(../assets/map.png) !important;
  background-size: cover !important;
  margin-top: -1px !important;
  height: 101vh;
  overflow: hidden;
  overflow-y: auto;
}

.widgets{
  // position: fixed;
  // right: 20px;
  // top: 15px;


  .user-tab{
    color: #333;
    background: #fff;
    padding: 5px 15px 5px 5px;
    z-index: 9999;
    border-radius: 50px;
    box-shadow: -4px 9px 35px -6px rgba(0,0,0,0.36);
    display: inline-block;
    position: fixed;
    right: 20px;
    top: 15px;
    margin-right: 2px;
    cursor: pointer;
    transition: 0.5s;

    img {
      width: 35px;
    height: 35px;
    border-radius: 100%;
    margin-right: 10px;
    }

    &:hover{
      transition: 0.5s;
      box-shadow: 0px 5px 15px 0px rgba(255, 255, 255, 0.34);
    }


  }


}

.mapboxgl-canvas{
  left: 270px !important;
  z-index: 1 !important;
  position: absolute;
  top: 0px;
  right: 0px;
  display: block;
}

// map marker

.marker-x {
  z-index: 1 !important;
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.map-marker{
  margin-left: -5px;
  margin-top: 2px;
}


.pulse {
  margin:100px;
  display: block;
  position: absolute;
  margin-left: 9px;
  margin-top: -19px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  z-index: -1;
  background: rgb(233, 119, 104);
  cursor: pointer;
  box-shadow: 4px 500px 10px rgba(204,169,44, 0.4);
  animation: pulse 2s infinite;

  &:hover {
    cursor: pointer;
  }

  &:nth-child(2){
    animation-delay: 2.5s;
  }


}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0px rgba(180, 53, 49, 0.279);

  }
  70% {
    -moz-box-shadow: 0 0 0 0px rgba(185, 160, 224, 0);
    box-shadow: 0 0 0 30px rgba(228, 80, 43, 0.579);
  }
  100% {
      -moz-box-shadow: 0 0 0 200px rgba(185, 160, 224, 0);
      box-shadow: 0 0 0 80px rgba(180, 49, 49, 0.079);
  }
}

.burger{
  z-index: 200 !important;
  position: fixed;
  background: rgba(68, 27, 214, 0.459);
  color: rgba(255, 255, 255, 0.432);
  padding: 3px 5px 1px;
  border-radius: 5px;
  top: 12px;
  left: 12px;
  display: none;
}

.close-x{
  display: none;
}