
.info-card{
  position: fixed;
  z-index: 999;
  background: #fff;
  height: 250px;
  width: 450px;
  bottom: 15px;
  border-radius: 7px;
  left: 290px;
  display: block;
  transition: 0.5s;
  overflow: hidden;

  &:hover{
    height: 400px;
    transition: 0.5s;
  }

  .info-title{
    padding: 14px 15px 0px;
  }


  .status-bar{
    width: 100%;
    height: 8px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: linear-gradient(to right, #cb2d3e, #efaa3a);

    &.verified{
      background: linear-gradient(to right, #11998e, #38ef7d);
    }
  }

  .type-title{
    box-shadow: -14px 11px 36px -14px #e0dcdc;

    span{
      float: right;
      margin-top: -38px;
      font-size: 13px;
      padding: 5px 10px;
      border: 1px solid #ddd;
    }

    h2{
      text-transform: uppercase;
    }
  }

  .info-body{
    height: 380px;
    width: 100%;
    padding: 10px 30px;
    overflow-y: auto;
  }

  .reportee-profile{
    padding: 10px 20px;
    background: #f5f7fda8;
    border-radius: 3px;
    border: 1px solid rgb(200, 218, 250);
    display: inline-block;


    .reportee-img{
      width: 40px;
      height: 40px;
      border-radius: 100%;
      margin-right: 10px;
      object-fit: cover;
    }
  }

  .detail-title{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    color: rgb(36, 103, 148);
  }

  .report-div{
    padding: 10px 20px;
    background: #f5f7fda8;
    border-radius: 3px;
    border: 1px solid rgb(200, 218, 250);
    font-size: 13px;
  }

  .info-footer{
    position: absolute;
    background: #fff;
    width: 100%;
    border-top: 1px solid #ddd;
    bottom: 0px;

    button{
      border: 0px;
      padding: 5px 15px;
      background: blue;
      color: #fff;
      border-radius: 2px;
      margin: 10px;
      float: right;
      cursor: pointer;
      outline: none;

      &.btn-verify{
        background: linear-gradient(to right, #00b09b, #96c93d);
      }

      &.btn-dismiss{
        background: linear-gradient(to right, #cb2d3e, #ef5e3a);
      }

      &.btn-cancel{
        background: #000;
      }

    }
  }
}
