
.login-page{
  background: #000;
  height: 100vh;
  width: 100%;
  position: absolute;
  background: linear-gradient(90deg,rgba(52,22,199,.91),rgba(17,24,126,.18)),url(../assets/map.png);
  background-size: cover;
}

.login-header{
  padding-top: 470px;
}

.login-card{
  margin-top: -180px;
}

.btn-wrapper{
  button{
    div{
      margin-right: 2px !important;
      padding-right: 5px !important;
    }
  }
}
