
$active_color:rgb(85, 136, 233);


.profile-header{
  background: linear-gradient(90deg,rgba(10, 16, 112, 0.602),rgba(26, 9, 102, 0.568)), url('../assets/profilebanner.jpg');
  padding: 70px;
}

.profile-page{
  background: rgb(240, 246, 255);
  margin-left: 270px;
  min-height: 100vh !important;
}

.profile-image{
  border-radius: 5px !important;
  width: 120px;
}

.account-snippet{
  color: rgb(0, 132, 255) !important;
  padding-bottom: 5px;
  // border-bottom: 2px solid blue;
}

.account-tabs{
  position: absolute;
  right: 20px;
  top: 13px;
  list-style: none;

  li{
    display: inline;
    margin-left: 20px;
    padding: 5px 6px;
    color: rgba(116, 115, 115, 0.822);
    border-bottom: 4px solid transparent;
    cursor: pointer;

    -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

    &.active{
      color: $active-color;
      border-bottom: 4px solid $active_color;
      cursor: default;
    }
  }

}

.loading-profile{
 margin: 20px;
 width: 50px;
}

.text-type{
  text-transform: capitalize;
}


.search-bar{
  width: 260px;
  float: right;
  padding: 5px 20px;
  outline: none;
  border: 2px solid #ddd;
  border-radius: 50px;
  margin-bottom: 20px;
  transition: 0.3s;

  &:focus{
    border: 2px solid $active_color;
  }
}

.no-history{
  img{
    width: 180px;
    opacity: 0.5;
  }
}
